@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased text-text-dark;
  }

  a {
    @apply no-underline;
  }

  button {
    @apply cursor-pointer border-none outline-none;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-5;
  }

  @media (max-width: 768px) {
    .container {
      @apply px-4;
    }
  }
}

